*{
    margin: 0;
    padding: 0;
}
.logo{
   width:20%;
   display:flex;
}
.logo img{
    width: 63%;
}
.logo img:hover{
    width: 63%;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content:center;
    position: sticky;
    top:0;
    cursor:pointer;
}
.nav-list{
    
    width:50%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.nav-list li{
    list-style: none;
    padding: 30px;
}
.nav-list li  a{
    text-decoration:none;
    color:white;
}
.nav-list li  a:hover{
    text-decoration:none;
    color:purple;
}

.rightNav{
    display:flex;
  
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
}
.background{
    background: url('rap.jpeg');
    background-size:cover;
    /* background-blend-mode:darken; */
}
.firstSection{
    /* display:flex; */

    height:100vh;
}
.firsthlf{
    width: 75%;
    display:flex;
    flex-direction: column;
    justify-content: center;


}
.secondhlf{
    width: 30%; 

}
.secondhlf img{
    height: 80px 80px;
 
    /* border:4px solid black;
    border-radius: 150px; */
    display:block;
    margin:auto;
}

.box-main{
    height:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 50%;
    
    margin: auto;
}
.text-big{
    font-size: 45px;
    margin: 0 8px;
}
.text-small{
    margin: 8px;
    font-size: 20px;
}
.btn{
    padding: 8px 20px;
    margin:20px 100px;
    border:2px solid white;
    border-radius :8px;
    background:none;
    font-size:18px;
    color:white;
    cursor:pointer;
}